<!DOCTYPE html>
<html lang="{{ site.lang }}">
  <head>
    {% include '../partials/head.njk' %}
  </head>
  <body a="{{ site.theme_config.appearance or auto }}">
    <main class="page-content" aria-label="Content">
      <div class="w">
        {{ content | safe }}
      </div>
    </main>
    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  </body>
</html>
