---
layout: base.njk
---

{% include '../partials/back_link.njk' %}

<article>
	<p class="post-meta">
		<time datetime="{{ date | htmlDateString }}">{{ date | htmlDateString }}</time>
	</p>

	<h1>{{ title }}</h1>

	<div class="article-body">
		{{ content | safe }}
	</div>
</article>
