@font-face {
	font-family: 'Poppins';
	font-display: swap;
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/woff2/Poppins-Light.woff2'), url('../fonts/ttf/Poppins-Light.ttf');
}

@font-face {
	font-family: 'Poppins';
	font-display: swap;
	font-style: italic;
	font-weight: 300;
	src: url('../fonts/woff2/Poppins-LightItalic.woff2'),
		url('../fonts/ttf/Poppins-LightItalic.ttf');
}

@font-face {
	font-family: 'Poppins';
	font-display: swap;
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/woff2/Poppins-Regular.woff2'), url('../fonts/ttf/Poppins-Regular.ttf');
}

@font-face {
	font-family: 'Poppins';
	font-display: swap;
	font-style: italic;
	font-weight: normal;
	src: url('../fonts/woff2/Poppins-Italic.woff2'), url('../fonts/ttf/Poppins-Italic.ttf');
}

@font-face {
	font-family: 'Poppins';
	font-display: swap;
	font-style: normal;
	font-weight: 600;
	src: url('../fonts/woff2/Poppins-SemiBold.woff2'), url('../fonts/ttf/Poppins-SemiBold.ttf');
}

@font-face {
	font-family: 'Poppins';
	font-display: swap;
	font-style: italic;
	font-weight: 600;
	src: url('../fonts/woff2/Poppins-SemiBoldItalic.woff2'),
		url('../fonts/ttf/Poppins-SemiBoldItalic.ttf');
}

@font-face {
	font-family: 'Poppins';
	font-display: swap;
	font-style: normal;
	font-weight: bold;
	src: url('../fonts/woff2/Poppins-Bold.woff2'), url('../fonts/ttf/Poppins-Bold.ttf');
}

@font-face {
	font-family: 'Poppins';
	font-display: swap;
	font-style: italic;
	font-weight: bold;
	src: url('../fonts/woff2/Poppins-BoldItalic.woff2'), url('../fonts/ttf/Poppins-BoldItalic.ttf');
}
